@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@keyframes typing {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
  .typing-loop {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    animation:
      typing 6s steps(40, end) infinite,
      blink 0.7s step-end infinite;
  }
  